<mat-card class='login-box'>
    <div class="wrapper">
        <mat-card-header id="login-header">
            <mat-card-title id="login-header-text">Login Demo for Angular/Go</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="login-form" [formGroup]="loginForm" (submit)="submit()">
                <!-- Specific error validation messages could be displayed -->
                <mat-form-field class="input" appearance="outline">
                    <mat-label>Enter your username</mat-label>
                    <input
                        matInput
                        placeholder="some@one.com"
                        formControlName="username"
                        required>
                </mat-form-field>
                <mat-form-field class="input" appearance="outline">
                    <!-- Possible enhancement: show/hide password toggle -->
                    <mat-label>Enter your password</mat-label>
                    <input
                        matInput
                        type="password"
                        formControlName="password"
                        required>
                </mat-form-field>
                <button
                    class="btn center"
                    [disabled]="!loginForm.valid"
                    mat-stroked-button>Login
                </button>
            </form>
        </mat-card-content>
    </div>
</mat-card>
