html, body {
    height: 100%;
    background-color: rgb(255, 255, 200);
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

/* Site form styling */
.mat-form-field-infix {
    width: 300px;
    max-width: 300px;
}

button[mat-stroked-button] {
    padding: 15px, 30px;
}
